USE [master]
GO
/****** Object:  Database [MvcDbDeneme]    Script Date: 15.05.2022 00:44:01 ******/
CREATE DATABASE [MvcDbDeneme]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MvcDbDeneme', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MvcDbDeneme.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MvcDbDeneme_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MvcDbDeneme_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MvcDbDeneme].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MvcDbDeneme]
GO
/****** Object:  Table [dbo].[TblKategoriler]    Script Date: 15.05.2022 00:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblKategoriler](
	[KategoriId] [smallint] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [varchar](50) NULL,
 CONSTRAINT [PK_TblKategoriler] PRIMARY KEY CLUSTERED 
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblKullanici]    Script Date: 15.05.2022 00:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblKullanici](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](50) NULL,
	[Sifre] [varchar](50) NULL,
 CONSTRAINT [PK_TblKullanici] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblMusteri]    Script Date: 15.05.2022 00:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblMusteri](
	[MusterıId] [int] IDENTITY(1,1) NOT NULL,
	[MusterıAd] [varchar](50) NULL,
	[MusterıSoyad] [varchar](50) NULL,
 CONSTRAINT [PK_TblMusteri] PRIMARY KEY CLUSTERED 
(
	[MusterıId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblSatislar]    Script Date: 15.05.2022 00:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSatislar](
	[SatısId] [int] IDENTITY(1,1) NOT NULL,
	[Urun] [int] NULL,
	[Musteri] [int] NULL,
	[Adet] [tinyint] NULL,
	[Fiyat] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TblSatislar] PRIMARY KEY CLUSTERED 
(
	[SatısId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblUrunler]    Script Date: 15.05.2022 00:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblUrunler](
	[UrunId] [int] IDENTITY(1,1) NOT NULL,
	[UrunAd] [varchar](50) NULL,
	[UrunKategori] [smallint] NULL,
	[Fiyat] [decimal](18, 2) NULL,
	[Marka] [varchar](50) NULL,
	[Stok] [tinyint] NULL,
 CONSTRAINT [PK_TblUrunler] PRIMARY KEY CLUSTERED 
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblSatislar]  WITH CHECK ADD  CONSTRAINT [FK_TblSatislar_TblMusteri] FOREIGN KEY([Musteri])
REFERENCES [dbo].[TblMusteri] ([MusterıId])
GO
ALTER TABLE [dbo].[TblSatislar] CHECK CONSTRAINT [FK_TblSatislar_TblMusteri]
GO
ALTER TABLE [dbo].[TblSatislar]  WITH CHECK ADD  CONSTRAINT [FK_TblSatislar_TblUrunler] FOREIGN KEY([Urun])
REFERENCES [dbo].[TblUrunler] ([UrunId])
GO
ALTER TABLE [dbo].[TblSatislar] CHECK CONSTRAINT [FK_TblSatislar_TblUrunler]
GO
ALTER TABLE [dbo].[TblUrunler]  WITH CHECK ADD  CONSTRAINT [FK_TblUrunler_TblKategoriler] FOREIGN KEY([UrunKategori])
REFERENCES [dbo].[TblKategoriler] ([KategoriId])
GO
ALTER TABLE [dbo].[TblUrunler] CHECK CONSTRAINT [FK_TblUrunler_TblKategoriler]
GO
USE [master]
GO
